// Main Nav
#main-nav {
    line-height: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    background: linear-gradient(90deg, rgba(140,35,98,1) 0%, rgba(234,24,119,1) 100%);
    position: fixed;
    z-index: 3;
    top: 0;
    padding: 0.5rem;
    .nav-item {
        cursor: pointer;
        margin: 0 0.5rem;
        i {
            font-size: 1.5rem;
            padding: 0.7rem;
            transition: all 1s;
            color: black;
        }
        border-radius: 0.5;
        transition: all 0.5s;
        &:hover {
            background-color: #00000088;
            border-radius: 1rem;
            i {
                color: white;
            }  
        }
    }

    .selected {
        background-color: #00000088;
        border-radius: 1rem;
        i {
            color: white;
        }
    }

}


